<h1> Director #<%=@display_id%> details</h1>

<a href="/directors">
  Go back
</a>

<dl>
<%@display_relation.each do |display|%>
      <dt> Name </dt>
      <dt><%=display.name%></dt>
      
       <dt> DOB </dt>
      <dt><%=display.dob%></dt>


      <dt> Image </dt>
      <dt><img src="<%=display.image%>" style="width:250px"></dt>

      <dt> Bio</dt>
      <dt><%=display.bio%></dt>
      
      <dt> Created at:</dt>
      <dt><%=display.created_at%></dt>

      <dt> Updated at:</dt>
      <dt><%=display.updated_at%></dt>


    </dl>

 <table border="1">

<tbody>
<tr>
  <th>ID</th>
  <th>Image</th>
  <th>Title</th>
  <th>Year</th>
  <th>Director</th>
  <th></th>
<%@finding_movies.each do |display|%>
    <tr>
      <td><%=display.id%></td>
      <td><img src="<%=display.image%>" style="width:250px"></td>
      <td><%=display.title%></td>
      <td><%=display.year%></td>
      <td><%=@direc_name%></td>
      <td><a href="/movies/<%=display.id%>">Show details</a></td>
    </tr>
  <%end%>


</tbody>
</table>

  <%end%>
